@charset "utf-8";

/* common
-------------------------------*/
* {
  -webkit-box-sizing : border-box;
          box-sizing : border-box;
}

body {
  background : url(../img/bg.png);
  background-attachment : fixed;
  line-height : 2;
  -webkit-text-size-adjust : 100%;
     -moz-text-size-adjust : 100%;
      -ms-text-size-adjust : 100%;
          text-size-adjust : 100%;
}

h1 {
  font-size : 2rem;
}

h2 {
  font-size : 1.5rem;
}

header {
  height : 40px;
  padding : 10px 5px;
  position : fixed;
  top : 0;
  width : 100%;
  z-index : 9999;
}

main, aside {
  margin-top : 40px;
}

footer {
  background : #263804;
}

/* header */
.navbar-laravel {
  background-color: rgb(255, 244, 209);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4);
          box-shadow: 0 2px 4px rgba(0,0,0,.4);
}}