@charset "utf-8";
/* ----------------------------*/
/*
 マイページ
-------------------------------*/

/* common
-------------------------------*/
h1 {
    margin: 0 auto 15px;
}

h2 {
    margin: 20px auto 10px;
}

/* TOP　フォーム
-------------------------------*/
#mainContents {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

main {
    width: 75%;
    padding: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    border-radius: 5px;
    background: #fff;
}

.prefecture {
    position: relative;
    padding: 40px 20px 20px;
    border: 1px solid #ccc;
    margin: 40px auto;
}

.prefecture legend {
    position: absolute;
    top: -20px;
    display: inline-block;
    width: auto;
    padding: 0 15px;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    background: #fff;
}

.prefecture label {
    width: 20%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 1em;
}

.prefecture label>input {
    position: relative;
    transition: background .2s;
    width: 13px;
    height: 0;
}

.prefecture label>input:checked {
    position: relative;
    visibility: visible;
}

.prefecture label>input:before {
    font-family: "WebHostingHub-Glyphs";
    content: "\2713";
    position: absolute;
    top: 0;
    transform: translateY(-55%);
    left: -10px;
    font-size: .9em;
    transition: color .2s;
    color: #ddd;
}

.prefecture label>input:checked:before {
    color: #f75f31;
}

.option label {
    width: 20%;
}

#prefectureForm [type="submit"] {
    display: block;
    width: 150px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}


/* aside ユーザー情報
-------------------------------*/
aside {
    width: 20%;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    padding: 20px 10px;
    align-self: baseline;
    border-radius: 5px;
    background: #fff;
}

aside>* {
    display: block;
    margin: 10px auto;
}


aside>#thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #ccc;
}

aside .btn {
    min-width: 175px;
    border-color: inherit;
}


/*
---------------------------------------------------------- */
.field-box {
    padding: 10px 20px;
    border: 1px solid #ddd;
}

.field-box h2 {
    margin: 10px auto;
}

.field-box h2 button[type="submit"] {
    font-weight: bold;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    color: #1d68a7;
}

.field-box h2 button[type="submit"]:hover {
    opacity: .8;
}

.field-box p {}

.search-flg-label-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.search-flg-label-list>li {
    padding: 2px 15px;
    font-size: .8rem;
    border-radius: 5px;
}

.search-flg-label-list>li+li {
    margin-left: 1em;
}

.search-flg-label-list>li.outdoor {
    background: rgb(226, 176, 12);
    color: #fff;
}

.search-flg-label-list>li.urban {
    background: rgb(219, 12, 226);
    color: #fff;
}

.search-flg-label-list>li.forest {
    background: rgb(12, 226, 65);
    color: #fff;
}

.search-flg-label-list>li.indoor {
    background: rgb(175, 175, 175);
    color: #fff;
}

.button01 {
    display: block;
    margin: 40px auto;
    width: 200px;
    border-radius: 10px;
    padding: 15px 5px;
    text-align: center;
    border: 1px solid #ddd;
}

.button01:before {
    font-family: "WebHostingHub-Glyphs";
    content: "\f489";
    margin-right: 10px;
}
