@charset "utf-8";

a, a:hover {
  text-decoration: none;
}
/* TOP
-------------------------------*/
body {
    color: #555;
}

h1 {
  font-size: 2.5rem;
}

main {
  margin-top : 0;
}

section {
  text-align : center;
}


.main-visual {
  background: url("../img/main-visual.jpg") no-repeat;
  background-size: cover;
  height : 100vh;
  /* padding-top : 40px; */
  position : relative;
  width : 100%;
}

.main-visual .logo {
  left : 20px;
  position : absolute;
  top : 20px;
}

.main-visual .title {
  left : 50%;
  position : absolute;
  top: 50%;
  -webkit-transform : translate(-50%,-50%);
  -ms-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 100%;
  color: #fff;
}


.main-visual .title p {
  font-size: 1.5rem;
}

.apply-area {
    width: 600px;
    margin: 40px auto;
    background: rgba(255,255,255,.75);
    padding: 20px;
  color: #555;
  border-radius: 10px;
}

.apply-area .btn-area {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

.btn-area .btn {
  min-width: 250px;
  padding:15px 5px;
  color: #fff;
  border-radius: 10px;
  transition: background .2s;
}

.btn-area .btn:hover {
  opacity:.8;
}

.apply-area .btn.login {
  background: green;  
}

.apply-area .btn.register {
  background: green;
}
